[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/xdev2381
[access "refs/for/refs/*"]
	read = group user/xdev2381
	push = group user/xdev2381
	label-Code-Review = -2..+2 group user/xdev2381
	label-Verified = -1..+1 group user/xdev2381
	rebase = group user/xdev2381
	removeReviewer = group user/xdev2381
	submit = group user/xdev2381
[access "refs/heads/*"]
	read = group user/xdev2381
	create = group user/xdev2381
	push = +force group user/xdev2381
	pushMerge = group user/xdev2381
[access "refs/tags/*"]
	push = +force group user/xdev2381
	pushTag = group user/xdev2381
	pushSignedTag = group user/xdev2381
